doctype html
html
    head
        title Cat-Watcher Photos
    body
        h1 Photos
        each photo in photos
            .photo-container
                img(src=`data:image/jpeg;base64,${photo.image.toString('base64')}`)
                p Fecha: #{photo.date}
